In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [50]:
#Load US GDP Data
usgdp=pd.read_excel('USA GDP Change.xls')
usgdp=usgdp.set_index('Year')
usgdp.tail()

#Bank of England Data for GDP and Interest rates
BoE=pd.read_excel('BoE Data.xlsx')
BoE=BoE.set_index('Year')
BoE=BoE.rename(columns={'GDP':'UK GDP Change', 'Bank Rates':'UK Interest Rate'})
BoE.head()

#Data of US and UK Inflation and Unemployment 
Maindata=pd.read_excel('UK US Inflation & Unemployment 1964 - 2009.xls')
Maindata=Maindata.rename(columns={'w':'Year','uki':'UK Inflation', 'usi':'US Inflation',
                         'usu':'US Unemployment','uku':'UK Unemployment'})
Maindata=Maindata.drop({'gi', 'gu'},1)
Maindata=Maindata.set_index('Year')
Maindata.head()

#US Federal Reseve Interest Rates
FedRates=pd.read_excel('Federal Reserve Funds 1955-2015.xls')
FedRates=FedRates.rename(columns={'FEDFUNDS':'US Base Rate'})
FedRates['Year']=DataFrame(np.arange(1955,2016,1).reshape(61,1), index=FedRates.index)
FedRates= FedRates.drop('observation_date',1)
FedRates=FedRates.set_index('Year')
FedRates.head()

Overall=pd.concat([BoE, FedRates, Maindata, usgdp], axis=1)

OverallUK=Overall.drop(['US Base Rate','US Inflation','US Unemployment', 'US GDP Change'], 1)
OverallUK=OverallUK.dropna(axis=0, how='any')
OverallUK.tail()

OverallUS=Overall.drop(['UK Interest Rate','UK GDP Change','UK Unemployment', 'UK Inflation'], 1)
OverallUS=OverallUS.dropna(axis=0, how='any')
OverallUS.head()

Overall=pd.concat([OverallUS, OverallUK], axis=1)
Overall=Overall.dropna(axis=0, how='any')
Overall

Overall=pd.concat([OverallUS, OverallUK], axis=1)
Overall=Overall.dropna(axis=0, how='any')
Overall=Overall.round(2)
Overall.head()

,US Base Rate,US Inflation,US Unemployment,US GDP Change,UK Interest Rate,UK GDP Change,UK Inflation,UK Unemployment
Year,,,,,,,,
1955,1.79,0.0,4.37,7.1,4.5,3.45,3.5,1.61
1956,2.73,1.5,4.12,2.1,5.5,1.24,4.6,1.71
1957,3.11,3.3,4.30,2.1,7.0,1.66,3.3,1.91
1958,1.57,2.8,6.84,-0.7,4.0,-0.12,2.6,2.51
1959,3.31,0.7,5.45,6.9,4.0,3.85,0.9,2.51

In [37]:
Overall.ix[:,['US Inflation', 'GDP']].head()

      US Inflation   GDP
Year
1955           0.0  3.45
1956           1.5  1.24
1957           3.3  1.66
1958           2.8 -0.12
1959           0.7  3.85

In [44]:
BoE=pd.read_excel('BoE Data.xlsx')

In [45]:
BoE

     Year  Bank Rates       GDP
0    1831        4.00  4.629630
1    1832        4.00 -1.548673
2    1833        4.00  1.573034
3    1834        4.00  4.424779
4    1835        4.00  5.296610
5    1836        5.00  1.609658
6    1837        5.00 -0.594059
7    1838        4.00  5.577689
8    1839        6.00  4.528302
9    1840        5.00 -2.888087
10   1841        5.00 -3.903346
11   1842        4.00 -0.580271
12   1843        4.00  3.112840
13   1844        2.50  5.471698
14   1845        3.50  5.366726
15   1846        3.00  6.960951
16   1847        5.00 -2.539683
17   1848        3.00  3.257329
18   1849        2.50  1.261830
19   1850        3.00 -1.713396
20   1851        3.00  4.437401
21   1852        2.00  1.972686
22   1853        5.00  2.827381
23   1854        5.00  1.881331
24   1855        7.00  1.562500
25   1856        6.00  4.731861
26   1857        8.00  0.000000
27   1858        2.50  0.301205
28   1859        2.50  4.204204
29   1860        6.00  1.729107
..    ...         ...       ...
149  1980       14.00 -1.964078
150  1981       14.50 -1.214798
151  1982       10.25  2.339076
152  1983        9.00  3.469144
153  1984        9.75  2.347171
154  1985       11.50  3.869783
155  1986       11.00  3.742812
156  1987        8.50  4.342573
157  1988       13.00  4.817963
158  1989       15.00  2.310843
159  1990       14.00  0.948793
160  1991       10.50 -0.915622
161  1992        7.00  0.294758
162  1993        5.50  2.330585
163  1994        6.25  3.976597
164  1995        6.50  2.736433
165  1996        6.00  2.707378
166  1997        7.25  3.261263
167  1998        6.25  3.771745
168  1999        5.50  3.564721
169  2000        6.00  3.915433
170  2001        4.00  2.255841
171  2002        4.00  1.782771
172  2003        3.75  2.822489
173  2004        4.75  2.887407
174  2005        4.50  2.343422
175  2006        5.00  2.935894
176  2007        5.50  2.722666
177  2008        2.00 -0.141463
178  2009        0.50 -4.957814

[179 rows x 3 columns]